@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure Remix Icon font is applied */
[class^="ri-"],
[class*=" ri-"] {
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
